body {
  background: white;
}

.stui-main {
  flex: 1;
  position: relative;
  margin: 0 auto;
	height: calc(100vh - 45px);
  overflow-y: auto;

  &__empty {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1999;
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, .8);
    z-index: 1998;
  }

  &__pnl {
    padding: 12px;
    background: white;
    border-bottom: 1px solid var(--grey-l1);
  }
}

.stui-mpnl {
  height: 40vh;
  max-height: 600px;
  border: 1px solid $grey-l1;
  overflow-y: auto;
}

.stui-grid {
  display: grid;

  &--2 {
    grid: 1fr / 1fr 1fr;
    grid-auto-columns: 1fr;
  }
}

.stui-mpanel {
  display: flex;
  align-items: center;

  &--space {
    padding: 6px 0;
  }

  &__title {
    flex: 1;
  }

  &__action {
    button {
      margin-left: 3px;
    }
  }
}
