.stui-menu {
  flex: 0 0 44px;
  background: var(--brand-tertiary);

  .stui-maction {
    width: 100%;
    padding: 12px 4px;
    background: transparent;
    color: white;
    text-align: center;
    border-bottom: 1px solid #6c6c6c;
    transition: background .3s ease-in-out, color .3s ease-in-out;

    &:hover {
      background: var(--grey-l1);
      color: var(--brand-primary);
    }

    i {
      display: block;
      font-size: 18px;
    }
  }
}
