.stui-menu {
  flex: 0 0 60px;
  background: $grey-d1;

  &__logo {
    padding: 24px 12px;
    background: #14bfff; // SM blue
    background: linear-gradient(#14bfff, #009bd5);
    border-bottom: 1px solid $grey-d1;

    img {
      margin: auto;
      display: block;
      max-width: 24px;
      filter: brightness(0) invert(1);
    }
  }

  .stui-maction {
    width: 100%;
    padding: 12px 6px;
    background: transparent;
    color: white;
    text-align: center;
    border-bottom: 1px solid #6c6c6c;
    transition: background .3s ease-in-out, color .3s ease-in-out;

    &:hover {
      background: $grey-l1;
      color: $grey-d1;
    }

    i {
      display: block;
      font-size: 18px;
    }
  }
}
