.stui-logo-svg {
  width: 200px;

  svg {
    fill: transparent;
    stroke: var(--brand-primary);
    stroke-width: 0.5;
    animation: fill 1s ease infinite alternate;
  }

  svg path {
    stroke-dasharray: 300;
    stroke-dashoffset: 300;
    animation: draw 1s ease infinite alternate;
  }

  @keyframes draw {
    0% {
      stroke-dashoffset: 0;
    }
  }

  @keyframes fill {
    0% {
      fill: var(--brand-primary);
    }
  }
}
